.git
.venv
venv
build
build*/
Build*/
dist
wheelhouse
vcpkg_installed

__pycache__
*.py[cod]
*.egg-info
.pytest_cache
.mypy_cache
.ruff_cache
.cursor
.vscode
.idea
*.DS_Store

examples/**/output

*.so
*.dylib
*.dll
*.o
*.a
*.lib
